# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# Melos
melos.log

# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
**/.env
**/.env.local